body{
    /* background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(79,79,79,1) 100%); */
}
#wrapper{
    margin:2em;
}
section{
    float:left;
    min-height:90vh;
    padding:18px;
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.to-do-panel{
    /* background-color:lightcoral; */
    display:flex;
    justify-content:center;
    align-items: center;
    width:40%;
    
}
#to-do{
    max-width:375px;
    -webkit-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.62);
-moz-box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.62);
box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.62);
}
.tasks-panel{
    /* background-color:lightcyan; */
    width:60%;
}
.tasks-panel h1{
    margin-bottom:30px;
}
#to-do #top-panel{
    min-height: 150px;
    width:100%;
    position:relative;
    
    /* background-color:green; */
}
#to-do #top-panel #date-stamp{
    position:absolute;
    bottom:0;
    right:0;
    margin:0 15px 5px;
    text-align:right;
    color:white;
}
form{
    background-color: #b5dae8;
    padding:15px;
}
form input,
form textarea,
form select,
form button{
    width:100%;
    padding:8px;;
    margin:10px 0 0 0;
    border:0;
}
.task-card button{
    border:0;
    padding: 4px 10px;
    background-color:white;
   
}
form input:hover,
form textarea:hover,
form select:hover,
form button:hover{
    filter: brightness(0.9);
}
form select option i{
    font-size:10px
}
form select option[value="low"] i{

}
form textarea{
    resize:none;
    min-height:90px;
    line-height: 1.3em;
}
form label{
    width:100%;
    font-weight:bold;
    margin: 14px 0 0
}
form input[type="submit"]{
    margin-top:25px;
}
form #buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form button i{
    font-size:25px;
    color:white;
}
form button#add-button,
form button#reset-button{
    width:48%;
}

form button#reset-button{
    background-color: #c23f3f;
}
form button#add-button{
    background-color:#47a547;
}
ul#cards{
    column-count:3;
    column-gap:0;
    list-style-type: none;
    padding: 0;
}
ul#cards li{
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}
.task-card{
    min-height:120px;
    -webkit-box-shadow: 10px 10px 27px -16px rgba(0,0,0,0.84);
    -moz-box-shadow: 10px 10px 27px -16px rgba(0,0,0,0.84);
    box-shadow: 10px 10px 27px -16px rgba(0,0,0,0.84);
    position:relative;
    margin:10px;
    width:250px;
    padding:10px;
    display:inline-block;
}
.task-card .priority{
    font-size:10px;
    font-weight:bold;
    color:white;
    padding:1px 4px;
    border-radius:5px;
}
.task-card p{
    font-size:13px;
}
.task-card h4{
    font-size:19px;
}
.task-card .priority.high{
    background-color:red;
}
.task-card .priority.medium{
    background-color:orange;
}
.task-card .priority.low{
    background-color:green;
}
.task-card .controls{
    position:relative;
    display:flex;
    justify-content: space-between;
}
.task-card .controls i{
    font-size:20px;
}
/* .task-card .controls i.fa-trash-alt{
    position:absolute;
    left:0;
    bottom:0;
}
.task-card .controls i.fa-check-square{
    position:absolute;
    right:0;
    bottom:0;
} */


@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    section{
        float: unset;
        min-height:50vh;
        width:100%;
    }
    .to-do-panel, .tasks-panel{
        width:100%;
    }
}